<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add
        name="aspNetCore"
        path="*"
        verb="*"
        modules="AspNetCoreModuleV2"
        resourceType="Unspecified"
      />
    </handlers>
    <aspNetCore
      processPath=".\LigaCup.API.exe"
      arguments=""
      stdoutLogEnabled="true"
      stdoutLogFile=".\logs\stdout"
      startupTimeLimit="300"
      hostingModel="OutOfProcess"
    />
  </system.webServer>
</configuration>
