<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <remove name="aspNetCore" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\LigaCup.API.exe"
                  arguments=""
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="OutOfProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
      <security>
        <requestFiltering>
          <!-- The SQLite database must never be downloadable over HTTP. -->
          <hiddenSegments>
            <remove segment="App_Data" />
            <add segment="App_Data" />
          </hiddenSegments>
          <fileExtensions>
            <remove fileExtension=".db" />
            <add fileExtension=".db" allowed="false" />
            <remove fileExtension=".db-shm" />
            <add fileExtension=".db-shm" allowed="false" />
            <remove fileExtension=".db-wal" />
            <add fileExtension=".db-wal" allowed="false" />
          </fileExtensions>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
